certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
cryptography==2.8
decorator==4.4.1
future==0.18.2
idna==2.9
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.18.1
olefile==0.46
Pillow==6.2.0
pycparser==2.19
PySocks==1.7.1
python-telegram-bot==12.4.2
requests==2.23.0
six==1.14.0
torch==1.1.0
torchvision==0.3.0
tornado==6.0.3
urllib3==1.25.8
wincertstore==0.2
